body {
	font-family: helvetica, arial, sans-serif;
	margin: 0px;
	color: #171717;
	background-color: #F8F8FF;
}

.main {
	margin: 0px;
}

.links {
	margin-top: 10px;
	text-align: center;
}

#header {
	width: 600px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: left;
	font-size: 20pt;
}

#content {
	min-height: 600px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	text-align: left;
}

#sidebar {
	width: 400px;
	height: 800px;
	margin-left: 100px;
	text-align: left;
}

a:link {text-decoration: none; color: #0041D9;}
a:visited {text-decoration: none; color: #0041D9;}
a:hover {text-decoration: none; color: #DB3D35;}